---
layout: default
title: sxxybbs博客
title1: sxxybbs博客
keywords: sxxybbs博客,三峡学院博客,三峡学院论坛
description: sxxybbs博客, 技术博客, 分享技术, 关注 web，交流学习，共同进步
---

<div class="well">
    <span>文章总计： {{ site.posts | size }} 篇
	<a onMouseOver="document.getElementById('j-tmp-mobile-entry').style.visibility='visible';" onMouseOut="document.getElementById('j-tmp-mobile-entry').style.visibility='hidden';"><img src="http://www.chinabudy.com/templets/cn/images/weixin.jpg" width="16" height="16" style="margin:-2px 10px; cursor:pointer"></a>
<div class="mqrcode-wrap" id="j-tmp-mobile-entry" onMouseOver="document.getElementById('j-tmp-mobile-entry').style.visibility='visible';" onMouseOut="document.getElementById('j-tmp-mobile-entry').style.visibility='hidden';">
                    <div class="mqrcode ui-poptipnoc ui-poptipnoc-bottom">
                        <div class="ui-poptipnoc-arrow"><i></i></div>
                        <div class="ui-poptipnoc-bd">
                            <div class="mqrcode-img"></div>
                            <p style="color: #666; line-height:18px; margin-top:0px; font-size:14px;text-indent:0px;" align="center">扫描并订阅我的微信</p>
                        </div>
                    </div>
                </div>
	<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=942408479&amp;site=qq&amp;menu=yes" target="_blank"><img src="https://ui.ptlogin2.qq.com/favicon.ico" width="16" height="16" alt="点击这里给我发消息" title="点击这里给我发消息" style="margin:-2px -5px;"></a>
	<a href="http://www.weibo.com/sxxybbs" target="_blank"><img src="http://weibo.com/favicon.ico" width="16" height="16" alt="新浪微博" title="新浪微博" style="margin:-2px 10px;"></a>
	<a href="http://t.qq.com/weibo1234567" target="_blank"><img src="http://t.qq.com/favicon.ico" width="16" height="16" alt="腾讯微博" title="腾讯微博" style="margin:-2px -5px;"></a>
	<a href="http://user.qzone.qq.com/942408479" target="_blank"><img src="http://user.qzone.qq.com/favicon.ico" width="16" height="16" alt="qq空间" title="qq空间" style="margin:-2px 10px;"></a>

	</span>
    <span class="pull-right">最后更新时间：{{ site.time | date: "%Y年%m月%d日" }}</span>
</div>

{% include ds_recent.html %}
{% include share.html %}
