* {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline;
  background: transparent;}
body {word-wrap:break-word; line-height:normal;
  background:#F8F8F8 url(/assets/img/bg.jpg) repeat fixed;
  font: 14px 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;}
h1, h2, h3, h4, h5, h6 {overflow: hidden; text-decoration: none;}
h1{font-weight: 900; font-size: 36px; color: #78c3bf; margin: 20px 0;}
h2{font-weight: 800; font-size: 32px;}
h3{font-weight: 700; font-size: 28px; color: rgb(68, 92, 32); margin: 15px auto;}
h4{font-weight: 600; font-size: 24px;}
h5{font-weight: 500; font-size: 20px;}
h6{font-weight: 400; font-size: 16px;}
ul{margin:1em 0 1em 2em;}
ol{margin:1em 0 1em 2em;}
ul li,ol li{margin-top:.5em;margin-bottom:.5em;text-decoration: none;}
ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0;}
hr{height:1px;border:none;border-top:1px dashed #555555;margin: 5px auto 20px auto;}
code{padding: 2px 4px; color: #d14;
  background-color: #f7f7f9; border: 1px solid #e1e1e8;}
pre code{margin: 10px; border-radius: 10px; -moz-border-radius: 10px;
  -webkit-border-radius: 10px; overflow-x: hidden;}
blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}
p{text-indent:2em;margin-bottom: 10px; line-height:25px;}
img{margin: 5px 20px;}
a{text-decoration: none; color: rgb(18, 165, 124);}
li a:hover { color: rgb(52, 190, 52);}
table { width: 90%; margin: 20px; border-spacing: 2px; border-color: gray;
  text-align: center; font-size: 16px; border: 1px solid #ddd;}
th {border-bottom: 1px solid #ddd;}

/* 左右浮动 */
.pull-right {float: right;}
.pull-left {float: left;}

/* class 属性 badge 配合 badge-info 或 badge-inverse 实现不同颜色的标签 */
.badge {display: inline-block;padding: 2px 10px;margin: 0 5px;font-size: 12px;
  font-weight: bold;line-height: 20px;color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  white-space: nowrap;vertical-align: baseline;background-color: #999;
  -webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;}
.badge-info {background-color: #00B9BD;} .badge-info a{color: #fff;}
.badge-inverse {background-color: #4c4c4c; color: rgb(0,185,189);}
.badge-large {font-size: 16px;line-height: 29px;}
.badge-list{margin: 5px;}

/* well 提供白色背景面板 */
.well {position: relative;width: 810px;padding: 10px 30px 10px 30px;height: auto;
margin: 60px auto 0;background-color: #fff;border-radius: 10px;}

/* 当把 well 当作 header 时的美化 */
.well-header h1, .well-header hr {margin: 5px auto; width: 810px;}
.well-header p {color: rgb(128, 131, 51); }

/* topic 一片纸片*/
.topic {position: relative; width: 810px; height: auto; background-color: #fff;
    padding: 10px 30px 10px 30px;margin: 20px auto 0;}
.topic .title {white-space: nowrap;width: 700px;margin-left: 100px;
  overflow: hidden;margin-top: 3px;font-size: 24px;}
.topic p {width: 700px;height: auto;margin-left: 100px;
  overflow: hidden;margin-top: 3px;}

/* time-backgroud 和 time-meta 配合显示时间片 */
.time-backgroud {display: block;width: 34px; height: 30px;top: 38px;left: -23px;
  position: absolute;text-indent: -9999em;z-index: -1;transform: rotate(27deg);
  background: url(/assets/img/opcity.png) repeat scroll 0 0 #eb374b;cursor: default;
  -ms-transform: rotate(27deg);-moz-transform: rotate(27deg);-webkit-transform: rotate(27deg);}
.time-meta {display: block;line-height: 35px;color: #fff;overflow: hidden;
  width: auto;height: 37px;padding-left: 20px;padding-right: 20px;position: absolute;
  top: 22px;left: -30px;z-index: 30;background-color: #eb374b;}

/* 页脚 */
.footer {position: relative;width: 810px;padding: 20px;height: auto;
margin: 0 auto 50px auto;color: #F8F8F8;border-radius: 10px;}
.footer a{color: rgb(0, 255, 204);}


/* 隐藏 div */
.hide {display: none;}

/*居中*/
.center{text-align: center;}

/* ---------------- 导航条 ---------------------- */
/*固定导航条nav 配合 nav-fix-top 或 nav-fix-bottom 可固定导航条于顶部或底部*/
.nav {background-color: #080808; background: rgba(38,38,38,0.85); width: 100%; min-width: 960px;
  height: 50px; position: fixed; left: 0; _position: relative; z-index: 400;}
.nav-fix-top {top: 0;}
.nav-fix-bottom {bottom: 0;display: none;}

/* 设置导航条宽度为 960px */
.navbar-panel {color: #333; position: relative; width: 960px; margin: 0 auto;}

/* 导航条大标题 */
.brand {left: 0; position: absolute; top: 7px; margin-left: 10px; font-size: 22px; }
.brand a{text-decoration: none; color: #f8f8f8;}

/* 导航条列表一行显示 */
.catalog {margin: 10px 0 0;_margin-left: -3px;}
.catalog ul, .catalog ol{margin:0;}
.catalog li {display: inline; vertical-align: middle;
  text-decoration: none;margin: 10px;}

.catalog li a {text-decoration: none; color: #f8f8f8;}
.catalog li a:hover { color: rgb(0,185,189);}


/* 加载中 */
#circle{background-color:rgba(0,0,0,0);border:5px solid rgba(10,10,10,0.9);opacity:.9;border-right:5px solid rgba(0,0,0,0);border-left:5px solid rgba(0,0,0,0);border-radius:50px;box-shadow:0 0 35px #808080;width:60px;height:60px;margin:0 auto;position:fixed;left:30px;bottom:30px;-moz-animation:spinPulse 1s infinite linear;-webkit-animation:spinPulse 1s infinite linear;-o-animation:spinPulse 1s infinite linear;-ms-animation:spinPulse 1s infinite linear;}
#circle1{background-color:rgba(0,0,0,0);border:6px solid rgba(20,20,20,0.9);opacity:.9;border-left:6px solid rgba(0,0,0,0);border-right:6px solid rgba(0,0,0,0);border-radius:50px;box-shadow:0 0 15px #202020;width:40px;height:40px;margin:0 auto;position:fixed;left:39px;bottom:39px;-moz-animation:spinoffPulse 1s infinite linear;-webkit-animation:spinoffPulse 1s infinite linear;-o-animation:spinoffPulse 1s infinite linear;-ms-animation:spinoffPulse 1s infinite linear;}
#circletext{width:46px;height:20px;margin:0 auto;position:fixed;left:46px;bottom:53px;}

/* 多说 */
.ds-powered-by{ display:none;}

/* load 加载*/
#load {
	z-index:1000;
	width:100%;
	height:50px;
	background:#E6E6E6;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
	opacity: 0.7;
}
#load div {
	width:1px;
	height:50px;
	background:#0BD927;
	overflow:hidden;
	opacity: 0.7;
}

/*weixin*/
.mqrcode-wrap {
display: inline;
position: relative;
visibility:hidden;
-webkit-transition: 0s visibility;
-moz-transition: 0s visibility;
-o-transition: 0s visibility;
transition: 0s visibility;
}
.mqrcode.ui-poptipnoc {
position: absolute;
display: block;
padding: 0;
left: -98px;
top: 16px;
width: 150px;
height: 170px;
}
.ui-poptipnoc-bottom .ui-poptipnoc-arrow {
left: 50%;
top: -11px;
margin-left: -11px;
border-top-width: 0;
border-bottom-color: #ccc;
}
.ui-poptipnoc-arrow {
border-width: 11px;
}
.ui-poptipnoc-bottom .ui-poptipnoc-arrow i {
top: 1px;
margin-left: -10px;
border-top-width: 0;
border-bottom-color: #fff;
}
.ui-poptipnoc-arrow i {
border-width: 10px;
}
.ui-poptipnoc-arrow, .ui-poptipnoc-arrow i {
position: absolute;
display: block;
width: 0;
height: 0;
border-style: solid;
_border-style: dashed;
border-color: transparent;
}
.ui-poptipnoc-bottom {
margin-top: 10px;
}
.ui-poptipnoc {
position: absolute;
top: 0;
left: 0;
z-index: 200;
display: none;
padding: 1px;
background-color: #fff;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
border: 1px solid #ccc;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
white-space: normal;
}
.mqrcode-img {
margin: 5px;
margin-bottom: 1px;
width: 140px;
height: 140px;
background: url("http://blog.sxxybbs.com/assets/img/qrcode_for_weixin.jpg");
}


.mqrcode.ui-poptipnoc1 {
position: absolute;
display: block;
padding: 0;
left: -80px;
top: 16px;
width: 150px;
height: 170px;
}

.ui-poptipnoc1 {
position: absolute;
top: 0;
left: 0;
z-index: 200;
display: none;
padding: 1px;
background-color: #fff;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
border: 1px solid #ccc;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
white-space: normal;
}

.mqrcode-img1{
margin: 5px;
margin-bottom: 1px;
width: 140px;
height: 140px;
background: url("http://blog.sxxybbs.com/assets/img/web_app.jpg");
}
